In [2]:
#1. Switch values of two integers 
#Input: n1 = 20, n2 = 30 
#Output: n1 = 30, n2 = 20 

n1=20
n2=30
n1,n2=n2,n1
print(n1)
print(n2)

30
20

In [4]:
#2. Switch values of two strings (characters) 
#Input: char1 = "hello", char2 = "java" 
#Output: char1 = "java", char2 = "hello" 

char1="hello"
char2="java"
char1,char2,=char2,char1
print(char1)
print(char2)

java
hello

In [6]:
#3. Switch one string value with one integer value 
#Input: n1 = 200, char2 = "java" 
#Output: n1 = "java", char2 = 200
n1=200
char2="java"
n1,char2=char2,n1
print(n1)
print(char2)

java
200

In [3]:
#Update balance after deposit 
#Initial balance: current_balance = 10000 
#Deposit amount: deposit_balance = 5000 
#Output: 
# Before deposit: current_balance = 10000 
# After deposit: current_balance = 15000 

cbalance=10000
dbalance=5000
a=cbalance+dbalance

print(cbalance)
print(a)

10000
15000

In [8]:
# 6. Update balance after withdrawal 
# Before: balance = 12000 
# Withdrawal: 3000

Bbalance=12000
w=3000
a=Bbalance-w
print(a )

9000

In [9]:
# 7. Increase shopping cart items by 3 
# Before: cart_items = 5
cart=3
item=5
c=cart+item
print(c)

8

In [19]:

# 8. Apply a 20% discount to a price 
# Before: price = 1000 
# After: ?

price=1000
a=price*20/100
print("total discount",a)
c=price-a
print("final price",c)

total discount 200.0
final price 800.0

In [18]:
# 9. Calculate student percentage 
# Input: obtain_marks = 430, out_of = 500 
# Output: Percentage = ?
a=430
b=500
c=430*100/500
print("percentage",c)

percentage 86.0

In [15]:
## 10. Calculate total and average of 4 subjects 
# Input Example: 
# ● Subject 1: 80 
# ● Subject 2: 75 
# ● Subject 3: 90 
# ● Subject 4: 85
a=80
b=75
c=90
d=85
e=a+b+c+d/4
print(e)

266.25

In [16]:
# 11. Calculate average of 3 numbers 
# Input: num1 = 25, num2 = 35, num3 = 45 
# Output: Average = ?
num1=25
num2=35
num3=45
a=num1+num2+num3/3
print("average:",a)

average: 75.0

In [7]:
# 12. Calculate profit or loss percentage 
# Input: cost_price = 500, selling_price = 600 
# Output: Profit or Loss = ?

cp=500
sp=600
c=sp-cp
d=c/500*100
print("profit:",c)
print("persentage:",d)

profit: 100
persentage: 20.0

In [8]:
# 13. Calculate simple interest 
# Input: principal = 10000, rate = 5, time = 2 
# Output: Simple Interest = ?
p=10000
r=5
t=2
s=p*r*t/100
print("SI:",s)

SI: 1000.0

In [11]:
# 14. Calculate compound interest 
# Input: principal = 10000, rate = 5, time = 2 
# Output: Compound Interest = ? 
p=10000
r=5/100
t=2
n=1
a=p*(1+r/n)**(n*t)
print(a)

11025.0

In [14]:
# 15. Calculate tax on income 
# Input: income = 500000, tax_rate = 10 
# Output: Tax = ? 
income=500000
tax=10
a=income*tax/100
print("total tax:",a)

total tax: 50000.0

In [19]:
# 16. Calculate percentage increase or decrease 
# Input: initial_value = 200, final_value = 250 
# Output: Percentage Change = ? 
i=200
f=250
d= f-i
a= d/i*100
print("percentage change:",a)

percentage change: 25.0

In [21]:
# 17. Convert boolean to integer 
# Input: True 
# Output: ? 

a=True
b=int(a)
print(b)

1

In [23]:
# 18. Convert float to string 
# Input: 45.67 
# Output: ? 

a=45.67
b=str(a)
print(b)

45.67

In [25]:
# 19. Convert 20°C to Fahrenheit 
# Input: 20°C 
# Output: ? 
a=20
b=(a*9/5)+32
print(b)

68.0

In [26]:
# 20. Convert 50°F to Celsius 
# Input: 50°F 
# Output: ? 
a=50
b=(a-32)*5/2
print(b)

45.0

In [27]:
# 21. Convert integer to binary 
# Input: 25 
# Output: ?
a=25
b=bin(a)
print(b)

0b11001

In [28]:
# 21. Calculate area of a triangle 
# Input: base = 10, height = 6 
# Output: Area = ? 
b=10
h=6
a=1/2*(b*h)
print("area:",a)

area: 30.0

In [29]:
# 22. Calculate perimeter of a square 
# Input: side = 9 
# Output: Perimeter = ? 
s=9
a=4*s
print("perimeter:",a)

perimeter: 36

In [30]:
# 23. Calculate diameter of a circle 
# Input: radius = 14 
# Output: Diameter = ?
r=14
a=2*r
print("Diameter:",a)

Diameter: 28

In [33]:
# 24. Calculate volume of a cube 
# Input: side = 5 
# Output: Volume = ? 
s=5
a=(s)**3
print("volume:",a)

volume: 125

In [36]:
# 25. Calculate surface area of a cuboid 
# Input: l = 4, b = 3, h = 2 
# Output: Surface Area = ? 
l=4
b=3
h=2
a=2*(l*b+b*h+h*l)
print("surfacearea:",a)

surfacearea: 52

In [37]:
# 26.Square of sum: (x + y)² 
# Input: x = 5, y = 7 
# Output: ?
x=5
y=7
a=(x+y)**2
print(a)

144

In [39]:
# 27.Simplify expression: x² - 4x + 4 
# Input: x = 3 
# Output: ?
x=3
a=x**2-4*x+4
print(a)

1

In [40]:
# 25.Evaluate: (a + b)(a - b) 
# Input: a = 6, b = 2 
# Output:
a=6
b=2
c=(a+b)*(a-b)
print(c)

32

In [42]:
# 29.Sum of cubes: a³ + b³ 
# Input: a = 1, b = 2 
# Output: ? 
a=1
b=2
c=a**3+b**3
print(c)

9

In [44]:
# 30.Simplify: (x - y)² 
# Input: x = 10, y = 6 
# Output: ?
x=10
y=6
a=x**2+y**2-2*x*y
print(a)

16

In [45]:
# 31.Difference of cubes: x³ - y³ 
# Input: x = 4, y = 1 
# Output: ?
x=4
y=1
a=x**3-y**3
print(a)

63

In [51]:
# 32.If user input is: 
# Name: Dev 
# Age: 25 
# City: Jaipur 
# Hobby: Cooking 
# Then Output is : 
# Meet Dev, a 25-year-old enthusiast from Jaipur.
# When not busy with daily tasks, Dev loves spending time cooking. 
# Life in Jaipur keeps Dev energetic and curious every single day. 
# With coding as a passion, the future looks creative and inspiring for 
# Dev in the Jaipur City.
Name = "Dev"
Age = 25
City = "Jaipur"
Hobby = "cooking"

print(
    "Meet", Name, ", a", Age, "year old enthusiast from", City + ".",
    "When not busy with daily tasks, Dev loves spending time", Hobby + ".",
    "Life in", City, "keeps Dev energetic and curious every single day.",
    "With coding as a passion, the future looks creative and inspiring for",
    Name, "in the", City, "city."
)

Meet Dev , a 25 year old enthusiast from Jaipur. When not busy with daily tasks, Dev loves spending time cooking. Life in Jaipur keeps Dev energetic and curious every single day. With coding as a passion, the future looks creative and inspiring for Dev in the Jaipur city.

In [ ]:
# 33.Create a Python program that asks the user for the following: 
# ● Full Name 
# ● Profession 
# ● Favorite Quote 
# ● Years of Experience 
# Output format: 
# Name        
# : <Full Name> 
# Profession  : <Profession> 
# Experience  : <Years of Experience> years 
# Quote       
# : "<Favorite Quote>"


full_name = input("Enter your full name: ")
profession = input("Enter your profession: ")
favorite_quote = input("Enter your favorite quote: ")
experience = input("Enter your years of experience: ")


print("nName        : " + full_name)
print("Profession  : " + profession)
print("Experience  : " + experience + " years")
print('Quote       : "' + favorite_quote + '"')

In [12]:
# 34.Ask the user: 
# ● Movie Name 
# ● Viewer Name 
# ● Seat Number 
# ● Show Time 
# Output format: 
#  Movie Ticket  
# Movie   : <Movie Name>
# Name    : <Viewer Name> 
# Seat No : <Seat Number> 
# Time    : <Show Time> 
# Enjoy the show!

movie_name = input("Enter the movie name: ")
viewer_name = input("Enter your name: ")
seat_number = input("Enter your seat number: ")
show_time = input("Enter the show time: ")


print(" Movie Ticket")
print("Movie   : " + movie_name)
print("Name    : " + viewer_name)
print("Seat No : " + seat_number)
print("Time    : " + show_time)
print("Enjoy the show!")

Enter the movie name:  kaali
Enter your name:  yash
Enter your seat number:  24
Enter the show time:  9

 Movie Ticket
Movie   : kaali
Name    : yash
Seat No : 24
Time    : 9
Enjoy the show!