In [1]:
# 1. Filter users older than 25 and print only their names. 
# users = [ {"name": "Amit", "age": 22}, {"name": "Priya", "age": 29}, {"name": "Raj", "age": 
# 32}, {"name": "Meena", "age": 19} ] 
users = [
    {"name": "Amit", "age": 22},
    {"name": "Priya", "age": 29},
    {"name": "Raj", "age": 32},
    {"name": "Meena", "age": 19}
]
for user in users:
    if user["age"] > 25:
        print(user["name"])

Priya
Raj

In [2]:
# 2. Clean list by removing empty/whitespace-only strings and stripping spaces. 
# data = ["hello", " ", "", "python ", " dev ", ""] 
data = ["hello", " ", "", "python ", " dev ", ""]

cleaned_data = [item.strip() for item in data if item.strip()]

print(cleaned_data)

['hello', 'python', 'dev']

In [3]:
# 3. Filter out invalid emails (without '@') and convert valid ones to uppercase after stripping 
# spaces. 
# emails = ["test@example.com", "invalid", " user@domain.com", "", "hello"] 
emails = ["test@example.com", "invalid", " user@domain.com", "", "hello"]
valid_emails = [email.strip().upper() for email in emails if "@" in email]

print(valid_emails)

['TEST@EXAMPLE.COM', 'USER@DOMAIN.COM']

In [4]:
# 4. Filter dictionary to include only items where the value is greater than 7. 
# data = {"a": 10, "b": 5, "c": 15, "d": 3} 
data = {"a": 10, "b": 5, "c": 15, "d": 3}
filtered_data = {key: value for key, value in data.items() if value > 7}

print(filtered_data)

{'a': 10, 'c': 15}

In [5]:
# 5. Filter only students who have marks â‰¥ 50. 
# students = [ {"name": "Ravi", "marks": 85}, {"name": "Riya", "marks": 40}, {"name": 
# "Neha", "marks": 76} ] 
students = [
    {"name": "Ravi", "marks": 85},
    {"name": "Riya", "marks": 40},
    {"name": "Neha", "marks": 76}
]

passed_students = [student for student in students if student["marks"] >= 50]

print(passed_students)

[{'name': 'Ravi', 'marks': 85}, {'name': 'Neha', 'marks': 76}]

In [6]:
# 6. Filter numbers from 1 to 30 that are even and divisible by 3. 
# nums = list(range(1, 31))
nums = list(range(1, 31))
filtered_nums = [n for n in nums if n % 2 == 0 and n % 3 == 0]

print(filtered_nums)

[6, 12, 18, 24, 30]

In [7]:
# 7. Filter the list to remove None and blank/whitespace-only strings. 
# data = ["Hello", None, "", " ", "World", "Python "] 
data = ["Hello", None, "", " ", "World", "Python "]

cleaned_data = [item.strip() for item in data if item and item.strip()]

print(cleaned_data)

['Hello', 'World', 'Python']

In [8]:
# 8. Filter out blacklisted users from the user list. 
# users = ["alice", "bob", "john", "admin", "eve"] 
# blacklist = {"admin", "eve"} 
users = ["alice", "bob", "john", "admin", "eve"]
blacklist = {"admin", "eve"}

filtered_users = [user for user in users if user not in blacklist]

print(filtered_users)

['alice', 'bob', 'john']

In [9]:
# 9. Use a filter to find all even numbers from a list of integers. 
# nums = [1,2,3,4,5,6,7,8,9,10] 
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_nums = list(filter(lambda n: n % 2 == 0, nums))

print(even_nums)

[2, 4, 6, 8, 10]

In [10]:
# 10. Use a filter to extract words that start with the letter "a". 
# words = ["apple", "banana", "avocado", "grape", "apricot", "berry"]
words = ["apple", "banana", "avocado", "grape", "apricot", "berry"]
a_words = list(filter(lambda w: w.startswith('a'), words))

print(a_words)

['apple', 'avocado', 'apricot']

In [11]:
# 11. Use a filter to remove all negative numbers. 
# numbers = [-5, -2, 0, 3, 7, -1, 10] 
numbers = [-5, -2, 0, 3, 7, -1, 10]
non_negative = list(filter(lambda n: n >= 0, numbers))

print(non_negative)

[0, 3, 7, 10]

In [13]:
# 12. Given a list of numbers, return cubes of numbers greater than 5. 
# nums = [2,4,6,8,10] 
nums = [2, 4, 6, 8, 10]
cubes = [n**3 for n in nums if n > 5]

print(cubes)

[216, 512, 1000]

In [14]:
# 13. Given a list of (name, age) tuples, find all people older than 18. 
# people = [("Amit",17),("Priya",22),("Ravi",30),("Meena",16)] 
people = [("Amit", 17), ("Priya", 22), ("Ravi", 30), ("Meena", 16)]
adults = [person for person in people if person[1] > 18]

print(adults)

[('Priya', 22), ('Ravi', 30)]

In [15]:
# 14. Use a filter to extract palindromes. 
# words = ["madam","apple","level","hello","noon"] 
words = ["madam", "apple", "level", "hello", "noon"]

palindromes = list(filter(lambda w: w == w[::-1], words))

print(palindromes)

['madam', 'level', 'noon']

In [16]:
# 15. Use a filter to get perfect squares. 
# nums = [1,2,4,5,9,10,16,20] 
nums = [1, 2, 4, 5, 9, 10, 16, 20]
perfect_squares = [n for n in nums if int(n**0.5)**2 == n]

print(perfect_squares)

[1, 4, 9, 16]

In [17]:
# 16. Use a filter to remove all empty strings. 
# words = ["python","","map"," ","reduce",""] 
words = ["python", "", "map", " ", "reduce", ""]
cleaned_words = list(filter(lambda w: w.strip() != "", words))

print(cleaned_words)

['python', 'map', 'reduce']

In [18]:
# 17. Use a filter to find words longer than 5 characters. 
# words = ["python","java","developer","ai","filter","map"] 
words = ["python", "java", "developer", "ai", "filter", "map"]
long_words = list(filter(lambda w: len(w) > 5, words))

print(long_words)

['python', 'developer', 'filter']

In [19]:
# 18. Use filter to select only those dictionaries where status = active. 
# users = [ {"name":"Alice","status":"active"}, {"name":"Bob","status":"inactive"}, 
# {"name":"Charlie","status":"active"} ] 
users = [
    {"name": "Alice", "status": "active"},
    {"name": "Bob", "status": "inactive"},
    {"name": "Charlie", "status": "active"}
]

active_users = list(filter(lambda u: u["status"] == "active", users))

print(active_users)

[{'name': 'Alice', 'status': 'active'}, {'name': 'Charlie', 'status': 'active'}]

In [20]:
# 19. Use filter and map to get names of employees whose salary > 50,000. 
# employees = [ {"name":"Amit","salary":45000}, {"name":"Priya","salary":60000}, 
# {"name":"Raj","salary":75000} ]
employees = [
    {"name": "Amit", "salary": 45000},
    {"name": "Priya", "salary": 60000},
    {"name": "Raj", "salary": 75000}
]

high_salary_names = list(map(lambda e: e["name"], filter(lambda e: e["salary"] > 50000, employees)))

print(high_salary_names)

['Priya', 'Raj']

In [21]:
# 20. Mask mobile numbers showing only last 4 digits. 
# numbers = ["9876543210","9123456789","9988776655"] 
numbers = ["9876543210", "9123456789", "9988776655"]

masked_numbers = ["*" * (len(num) - 4) + num[-4:] for num in numbers]

print(masked_numbers)

['******3210', '******6789', '******6655']

In [22]:
# 21. Extract file extensions from filenames. 
# files = ["data.csv","image.jpeg","report.pdf","main.py"] 
files = ["data.csv", "image.jpeg", "report.pdf", "main.py"]
extensions = [file.split('.')[-1] for file in files]

print(extensions)

['csv', 'jpeg', 'pdf', 'py']

In [23]:
# 22. Convert list of prices from USD to INR (1 USD = 83.20). 
# prices_usd = [10,15.5,100,75.25] 
prices_usd = [10, 15.5, 100, 75.25]
usd_to_inr = 83.20
prices_inr = [round(price * usd_to_inr, 2) for price in prices_usd]

print(prices_inr)

[832.0, 1289.6, 8320.0, 6260.8]

In [24]:
# 23. Remove special characters from names. 
# names = ["R@hul","N!kita","Ami#t","P&riya"] 
names = ["R@hul", "N!kita", "Ami#t", "P&riya"]
clean_names = [''.join(char for char in name if char.isalnum()) for name in names]

print(clean_names)

['Rhul', 'Nkita', 'Amit', 'Priya']

In [25]:
# 24. Add 5% GST to each product price. 
# prices = [200,450,1000,150] 
prices = [200, 450, 1000, 150]
gst_rate = 0.05  

prices_with_gst = [round(price * (1 + gst_rate), 2) for price in prices]

print(prices_with_gst)

[210.0, 472.5, 1050.0, 157.5]

In [26]:
# 25. Convert full names to email usernames. 
# names = ["Amit Sharma","Neha Rajput","Ravi Kumar"] 
names = ["Amit Sharma", "Neha Rajput", "Ravi Kumar"]
usernames = [name.replace(" ", "").lower() for name in names]

print(usernames)

['amitsharma', 'neharajput', 'ravikumar']

In [27]:
# 26. Convert datetime strings to just date (YYYY-MM-DD). 
# timestamps = ["2024-06-15 14:30:00","2024-12-01 09:45:10","2025-01-10 23:59:59"]
timestamps = ["2024-06-15 14:30:00", "2024-12-01 09:45:10", "2025-01-10 23:59:59"]
dates = [ts.split()[0] for ts in timestamps]

print(dates)

['2024-06-15', '2024-12-01', '2025-01-10']

In [28]:
# 27. Create hashtags from words. 
# tags = ["python","devlife","code","bugfix"]
tags = ["python", "devlife", "code", "bugfix"]
hashtags = ["#" + tag for tag in tags]

print(hashtags)

['#python', '#devlife', '#code', '#bugfix']

In [29]:
# 28. Convert binary strings to decimal. 
# binaries = ["1010","111","1001","1100"] 
binaries = ["1010", "111", "1001", "1100"]
decimals = [int(b, 2) for b in binaries]

print(decimals)

[10, 7, 9, 12]

In [30]:
# 29. Extract initials from full names. 
# names = ["Amit Kumar Singh","Riya Sharma","Neha Raj"] 
names = ["Amit Kumar Singh", "Riya Sharma", "Neha Raj"]
initials = ["".join([word[0].upper() for word in name.split()]) for name in names]

print(initials)

['AKS', 'RS', 'NR']

In [31]:
# 30. Write a map function to square every number in a list. 
# nums = [1,2,3,4,5] 
nums = [1, 2, 3, 4, 5]

squared_nums = list(map(lambda x: x**2, nums))

print(squared_nums)

[1, 4, 9, 16, 25]

In [32]:
# 31. Convert list of strings into uppercase. 
# words = ["python","map","filter","reduce"] 
words = ["python", "map", "filter", "reduce"]
uppercase_words = list(map(lambda w: w.upper(), words))

print(uppercase_words)

['PYTHON', 'MAP', 'FILTER', 'REDUCE']

In [33]:
# 32. Get length of each word in a sentence. 
# sentence = "Python makes coding easy" 
# words = sentence.split() 
sentence = "Python makes coding easy"
words = sentence.split()

word_lengths = [len(word) for word in words]

print(word_lengths)

[6, 5, 6, 4]

In [34]:
# 33. Convert integers into strings with prefix Num_. 
# nums = [10,20,30,40]
nums = [10, 20, 30, 40]
num_strings = [f"Num_{n}" for n in nums]

print(num_strings)

['Num_10', 'Num_20', 'Num_30', 'Num_40']

In [35]:
# 34. Convert Celsius to Fahrenheit. 
# temps_c = [0,25,37,100] 
temps_c = [0, 25, 37, 100]
temps_f = [round((c * 9/5) + 32, 2) for c in temps_c]

print(temps_f)

[32.0, 77.0, 98.6, 212.0]

In [36]:
# 35. Replace spaces in strings with "-". 
# words = ["hello world","python code","filter map"]
words = ["hello world", "python code", "filter map"]

hyphenated_words = [word.replace(" ", "-") for word in words]

print(hyphenated_words)

['hello-world', 'python-code', 'filter-map']

In [37]:
# 36. Reciprocal of each number in a list (skip zeros). 
# nums = [2,4,5,0,10]
nums = [2, 4, 5, 0, 10]
reciprocals = [1/n for n in nums if n != 0]

print(reciprocals)

[0.5, 0.25, 0.2, 0.1]

In [38]:
# 37. Reverse each word in a sentence. 
# sentence = "Python is powerful" 
# words = sentence.split() 
sentence = "Python is powerful"
words = sentence.split()
reversed_words = [word[::-1] for word in words]

print(reversed_words)

['nohtyP', 'si', 'lufrewop']

In [39]:
# 38. Capitalize only first letter of each word. 
# words = ["python","coding","rocks"] 
words = ["python", "coding", "rocks"]
capitalized_words = [word.capitalize() for word in words]

print(capitalized_words)

['Python', 'Coding', 'Rocks']

In [40]:
# 39. Extract first element from tuples. 
# pairs = [(1,"a"),(2,"b"),(3,"c")]
pairs = [(1, "a"), (2, "b"), (3, "c")]
first_elements = [t[0] for t in pairs]

print(first_elements)

[1, 2, 3]

In [41]:
# 40. Apply 10% discount to all prices. 
# products = [("Book",200),("Laptop",50000),("Pen",20)]
products = [("Book", 200), ("Laptop", 50000), ("Pen", 20)]
discount_rate = 0.10 

discounted_products = [(name, round(price * (1 - discount_rate), 2)) for name, price in products]

print(discounted_products)

[('Book', 180.0), ('Laptop', 45000.0), ('Pen', 18.0)]

In [42]:
# 41. Obfuscate email addresses (replace characters before @ with *). 
# emails = ["test@example.com","user@domain.com"] 
emails = ["test@example.com", "user@domain.com"]
obfuscated_emails = ["*" * email.index("@") + email[email.index("@"):] for email in emails]

print(obfuscated_emails)

['****@example.com', '****@domain.com']

In [43]:
# 42. Extract domain names from email addresses. 
# emails = ["test@example.com","hello@gmail.com","world@yahoo.in"] 
emails = ["test@example.com", "hello@gmail.com", "world@yahoo.in"]
domains = [email.split("@")[1] for email in emails]

print(domains)

['example.com', 'gmail.com', 'yahoo.in']

In [46]:
# 44. Use reduce to find the sum of all elements in a list. 
# nums = [1,2,3,4,5] 
from functools import reduce

nums = [1, 2, 3, 4, 5]

total = reduce(lambda a, b: a + b, nums)

print(total)

15

In [47]:
# 45. Use reduce to find the maximum number in a list. 
# nums = [10,45,32,99,5]
from functools import reduce

nums = [10, 45, 32, 99, 5]

maximum = reduce(lambda a, b: a if a > b else b, nums)

print(maximum)

99

In [48]:
# 46. Use reduce to calculate the product of all numbers in a list. 
# nums = [2,3,4,5] 


nums = [2, 3, 4, 5]

product = reduce(lambda a, b: a * b, nums)

print(product)

120

In [49]:
# 47. Use reduce to concatenate a list of strings. 
# words = ["Python","is","fun"] 
words = ["Python", "is", "fun"]

sentence = reduce(lambda a, b: a + " " + b, words)

print(sentence)

Python is fun

In [50]:
# 48. Use reduce to find the longest string in a list of words. 
# words = ["apple","banana","watermelon","grape"] 
words = ["apple", "banana", "watermelon", "grape"]
longest_word = reduce(lambda a, b: a if len(a) > len(b) else b, words)

print(longest_word)

watermelon

In [51]:
# 49. Use reduce to count total characters in a list of words. 
# words = ["Python","map","reduce"] 
words = ["Python", "map", "reduce"]
total_chars = reduce(lambda a, b: a + len(b), words, 0)

print(total_chars)

15

In [52]:
# 50. Use reduce to merge a list of dictionaries into one. 
# dicts = [{"a":1},{"b":2},{"c":3}] 
dicts = [{"a": 1}, {"b": 2}, {"c": 3}]
merged_dict = reduce(lambda a, b: {**a, **b}, dicts)

print(merged_dict)

{'a': 1, 'b': 2, 'c': 3}

In [53]:
# 51. Use reduce to calculate the final balance from transactions. 
# transactions = ["+200","-100","+50","-30"] 
transactions = ["+200", "-100", "+50", "-30"]

final_balance = reduce(lambda total, t: total + int(t), transactions, 0)

print(final_balance)

120