In [11]:
#1. Write a Python program to find the sum of all elements in the list [10, 20, 30,  40, 50]. 
list = [10, 20, 30, 40, 50]
total = 0
for num in list:
    total += num

print("The sum of all elements is:", total)

The sum of all elements is: 150

In [12]:
# 2. Write a Python program to display the odd and even elements from the list [10,  23, 11, 12, 33, 44, 2, 5, 6]. 
list = [10, 23, 11, 12, 33, 44, 2, 5, 6]
odds = []
evens = []

for num in list:
    if num % 2 == 0:
        evens.append(num)
    else:
        odds.append(num)

print("Even numbers:", evens)
print("Odd numbers:", odds)

Even numbers: [10, 12, 44, 2, 6]
Odd numbers: [23, 11, 33, 5]

In [13]:
# 3. Write a Python program to count the odd and even numbers in the list [10, 23,  11, 12, 33, 44, 2, 5, 6]. 
list = [10, 23, 11, 12, 33, 44, 2, 5, 6]
odd_count = 0
even_count = 0

for num in list:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("Count of even numbers:", even_count)
print("Count of odd numbers:", odd_count)

Count of even numbers: 5
Count of odd numbers: 4

In [2]:
# 4. Write a Python program to interchange the first and last elements in the list [10, 23, 11, 12, 33, 44, 2, 5, 6]. 
list = [10, 11, 12, 33, 44, 2, 5, 6]
list[0], list[-1] = list[-1], list[0]
print("List after swapping first and last elements:", lst)

List after swapping first and last elements: [6, 11, 12, 33, 44, 2, 5, 10]

In [14]:
# 5. Write a Python program to duplicate all the items in the list li = [1, 2, 3], 
# such that the result is: 
# output = [1, 2, 3, 1, 2, 3, 1, 2, 3]. 
list = [1, 2, 3]
a = list * 3
print( a)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [6]:
# 6. Find the smallest element in the list [10, 23, 11, 12, 33, 44, 2, 5,  6]. 
list = [10, 23, 11, 12, 33, 44, 2, 5, 6]
smallest = min(list)
print("The smallest element in the list is:", smallest)

The smallest element in the list is: 2

In [5]:
# 7. Find the greatest element in the list [89, 23, 24, 2, 55, 54, 64].
list= [89, 23, 24, 2, 55, 54, 64]
greatest=max(list)
print("The greatest element in the list is:", greatest)

The greatest element in the list is: 89

In [1]:
# 8. Find the repetitive elements in the list [1,2,3,4,56,1,22,23,33,23, 56].
li = [1, 2, 3, 4, 56, 1, 22, 23, 33, 23, 56]
repeat = list({x for x in li if li.count(x) > 1})
print("Repetitive:", repeat)

Repetitive: [56, 1, 23]

In [9]:
#9. Remove all the odd elements from the list [10, 23, 11,12,33,44,2,5, 6].
list = [10, 23, 11, 12, 33, 44, 2, 5, 6]
even_list = [x for x in list if x % 2 == 0]
print("List after removing odd elements:", even_list)

List after removing odd elements: [10, 12, 44, 2, 6]

In [2]:
#10. Find all non-repetitive elements in the list[1,2,3,4,56,1,22,23,33,23,56].
li = [1, 2, 3, 4, 56, 1, 22, 23, 33, 23, 56]
non_repeat = list({x for x in li if li.count(x)== 1})
print("Non_Repetitive:", non_repeat)

Non_Repetitive: [33, 2, 3, 4, 22]

In [10]:
#11. Write a Python program to duplicate all items in the list l = [1, 2, 3] to 
#produce the result: 
#result = [1, 2, 3, 1, 2, 3, 1, 2, 3]. 
list = [1, 2, 3]
a = list * 3
print("Duplicated list:", a)

Duplicated list: [1, 2, 3, 1, 2, 3, 1, 2, 3]

In [17]:
# 12. Find the second greatest element in the list [89, 23, 24, 2, 55, 54, 64]. 
list= [89, 23, 24, 2, 55, 54, 64]
list.remove(max(list))
max(list)

64

In [1]:
# 13. Reverse the list [1, 2, 3, 4, 56, 1, 22, 23, 33, 23, 56]. 
list= [1, 2, 3, 4, 56, 1, 22, 23, 33, 23, 56]
list.reverse()
print('Reversed List:', list)

Reversed List: [56, 23, 33, 23, 22, 1, 56, 4, 3, 2, 1]

In [3]:
# 14. Arrange the list [1, 2, 3, 4, 56, 1, 22, 23, 33, 23, 56] in  ascending order. 
list =[1, 2, 3, 4, 56, 1, 22, 23, 33, 23, 56] 
list.sort()
print(list)

[1, 1, 2, 3, 4, 22, 23, 23, 33, 56, 56]

In [5]:
# 15. Arrange the list [1, 2, 3, 4, 56, 1, 22, 23, 33, 23, 56] in  descending order.
list =[1, 2, 3, 4, 56, 1, 22, 23, 33, 23, 56] 
list.sort(reverse=True)
print(list)

[56, 56, 33, 23, 23, 22, 4, 3, 2, 1, 1]

In [3]:
# 16. Write a Python program to print all the vowels present in the given list of strings  ["Dreamer", "infotech"]. 
strings = ["Dreamer", "infotech"]
vowels = "aeiouAEIOU"
found = [ch for word in strings for ch in word if ch in vowels]
print("vowels:", found)

vowels: ['e', 'a', 'e', 'i', 'o', 'e']

In [4]:
# 17. Write a Python program to take input from the user to create a list of elements. 
# The user should input each element of the list one by one. Create a list with 
# these elements (maximum of 5 elements).
user_list=[]
for _ in range(5):
    user_list.append(input("Enter element"))
print("user_list:",user_list)

Enter element yash
Enter element a
Enter element s
Enter element s
Enter element ss

user_list: ['yash', 'a', 's', 's', 'ss']

In [5]:
# 18. Write a Python program to generate a list of numbers in reverse order from 10 to  1 using list comprehension. 
rev_list=[x for x in range(10,0,-1)]
print("Reverse 10 to 1:", rev_list)

Reverse 10 to 1: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [6]:
# 19. Create a list of square numbers from 1 to 10 using list comprehension. 
square=[x**2 for x in range (1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
# 20. Create a list of even numbers from 1 to 10 using list comprehension. 
even=[x%2==0 for x in range (1,11)]
print(even)

[False, True, False, True, False, True, False, True, False, True]